h1 {
  font-size: 35px;
  font-family: "Gill Sans", sans-serif;
  margin-top: 80px;
  margin-left: 80px;
}

img {
  max-width: 300px;
  padding: px;
}

.material-icons {
  margin-right: 10px;
  margin-top: 0px;
}

.text-muted {
  margin-right: 10px;
  margin-top: 30px;
}

h5 {
  padding: 30px;
}

.card {
  margin-top: 100px;
}

p,
h5 {
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
}
