h1 {
    font-size: 22px;
    margin-top: 30px;
}

h2 {
    font-size: 18px;

}

div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 300px;
    margin-top: 20px;

}