<!-- <app-navbar></app-navbar> -->

<div class="text-article">
  <h1><strong>Revizuirea „Comitetului lui Dumnezeu”: o piesă de moralitate medicală robustă</strong></h1>
<br>
    <p> În noiembrie 2014, comitetul de transplant al unui spital din New York se confruntă cu o criză: cu 
        destinatarul unei inimi proaspete care piere pe masa de operație, un nou beneficiar trebuie selectat 
        într-o oră, ca nu cumva să expire organul solicitat. Acest lucru stabilește tonul de bombă cu timp 
        pentru acțiunea care urmează, care se concentrează pe apreciatul doctor Andre Boxer (Grammer), un 
        pragmatist dur care crede că „inima este doar un mușchi” și că astfel de decizii trebuie luate fără 
        emoție , și prietena lui pe teren, Dr. Jordan Taylor (Stiles), care este nou în comisie și are o 
        viziune mai globală asupra acestui proces.</p>
    <br>    
        
    <p>În timp ce „Comitetul lui Dumnezeu” se află în mod obișnuit pe prăpastia predicării, scenariul lui
         Stark (prin intermediul materialului sursă al lui St. Germain) evită  caracterizarea dintr-o singură
        notă, investigând în schimb matur intersecția dezordonată a medicinei, moralității și comerțului. 
        Nu există răspunsuri ușoare la greșelile ridicate și, deși există o calitate oarecum previzibilă 
        a modului în care filmul susține așteptările cu privire la pozițiile anumitor indivizi cu privire 
        la aceste întrebări - de exemplu, părintele Dunbar nu este pur și simplu un pro-viețuitor - niciodată 
        se simte ca și când cineva este ținut în mod nejustificat.</p>
    <br>
    
    <p>În calitate de chirurg a cărui raționalitate rigidă există alături de valori esențiale decente, 
        Grammer dovedește o prezență impunătoare, chiar dacă dinamica sa cu Stiles - al cărei Taylor, 
        într-o subplotă greoaie, își crește singur copilul - nu sună niciodată cu adevărat. Vizualele 
        reci și curate ale lui Matt Sakatani și editarea clară a lui Alan Canant oferă un cadru formal 
        robust pentru aceste proceduri tensionate, care sunt ajutate în continuare de un scor Newton 
        Brothers care reușește să rămână pe partea dreaptă a melodramaticului.</p>
</div>


<div class="text-center">
    <img src="https://m.media-amazon.com/images/M/MV5BYzc3NGU3NzItZjA4NS00OTdkLTk0MWQtN2FmZjQyZTkwMTQyXkEyXkFqcGdeQXVyNDMzNDc4Mg@@._V1_.jpg" class="rounded" alt="Img The God Committee" width="300" height="400">
</div>


