 

<div class="card">
  <div class="card-body">
    <h1 class="login">Please login</h1>
    <form class="form-login" #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          name="username"
          pattern=".+\.com"
          placeholder="Email address"
          required
          ngModel
        />
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="imputPassword"
          name="password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          placeholder="Password"
          required
          ngModel
          /> 
      </div>

      <div class="login-btn">
        <button
          class="w-100 btn btn-lg btn-primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
