<div class="card">
  <div class="card-body">
    <form class="form-login" #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
      <h1 class="login">Please login</h1>
 
      <div class="form-floating">
       
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          name="username"
          placeholder="Email address"
          required autofocus
          ngModel
        />
      </div>
      <div class="form-floating">

        <input
          type="password"
          class="form-control"
          id="imputPassword"
          name="password" 
          placeholder="Password"
          required
          minlength="8"
          ngModel
        />
      </div>

      <div class="login-btn"></div>
      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
